[Unit]
Description=Mount unit for ubuntu-desktop-installer, revision 1276
After=snapd.mounts-pre.target
Before=snapd.mounts.target
Before=local-fs.target

[Mount]
What=/var/lib/snapd/snaps/ubuntu-desktop-installer_1276.snap
Where=/snap/ubuntu-desktop-installer/1276
Type=squashfs
Options=nodev,ro,x-gdu.hide,x-gvfs-hide
LazyUnmount=yes

[Install]
WantedBy=snapd.mounts.target
WantedBy=multi-user.target
